In [180]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [181]:
df = pd.read_excel('Зачисленные 21.xlsx')
df = df.iloc[:1950]

In [182]:
df.head()

,id,Код,Наименование,Приказ,Основание/Условие,Форма,Уровень,БВИ/Право,Балл,Достижение,...,Иностранный,Тип Иностранный,Биология,Тип Биология,Экз магистратуры,Тип Экз магистратуры,Гражданство,Сумм Балл ЕГЭ,Кол-во ЕГЭ,Ср Балл ЕГЭ
0,202101263.0,38.03.01,Экономика,191-с(к),С оплатой обучения,Очное,Бакалавриат,нет,180.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Российская Федерация,180,3,60.000000
1,202102484.0,38.03.01,Экономика,191-с(к),С оплатой обучения,Очное,Бакалавриат,нет,171.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Российская Федерация,171,3,57.000000
2,202101876.0,38.03.01,Экономика,191-с(к),С оплатой обучения,Очное,Бакалавриат,нет,164.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Российская Федерация,164,3,54.666667
3,202101640.0,37.05.02,Психология служебной деятельности,191-с(к),С оплатой обучения,Очное,Специалитет,нет,177.0,2.0,...,NaN,NaN,50.0,ЕГЭ,NaN,NaN,Российская Федерация,177,3,59.000000
4,202101691.0,37.05.02,Психология служебной деятельности,191-с(к),С оплатой обучения,Очное,Специалитет,нет,139.0,NaN,...,NaN,NaN,47.0,ЕГЭ,NaN,NaN,Российская Федерация,139,3,46.333333

In [183]:
df = df.loc[(df['Основание/Условие']=='С оплатой обучения') | (df['Основание/Условие']=='Основные места')]

In [184]:
df = df.loc[:, ['Форма', 'Код', 'Основание/Условие', 'Балл']]

In [185]:
df.head()

   Форма       Код   Основание/Условие   Балл
0  Очное  38.03.01  С оплатой обучения  180.0
1  Очное  38.03.01  С оплатой обучения  171.0
2  Очное  38.03.01  С оплатой обучения  164.0
3  Очное  37.05.02  С оплатой обучения  177.0
4  Очное  37.05.02  С оплатой обучения  139.0

In [186]:
y = pd.factorize(df['Основание/Условие'])[0]
X = df.drop(labels=['Основание/Условие'], axis=1)

In [187]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [188]:
enc = LabelEncoder()
X['Код'] = enc.fit_transform(X['Код'])
X['Форма'] = enc.fit_transform(X['Форма'])

In [190]:
clf = GradientBoostingClassifier()

In [191]:
X_train, X_test, y_train, y_test = train_test_split(X.to_numpy(), y, test_size=0.5, random_state=42)

In [192]:
clf.fit(X_train, y_train)

GradientBoostingClassifier()

In [193]:
y_pred = clf.predict(X_test)

In [194]:
accuracy_score(y_test, y_pred)

0.9657534246575342

In [195]:
precision_score(y_test, y_pred)

0.9660678642714571

In [196]:
recall_score(y_test, y_pred)

0.9738430583501007

In [ ]:
recall_score(y_test)