In [183]:
import numpy as np
import pandas as pd
import sklearn
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
import os
sns.set()
%matplotlib inline

In [185]:
df = pd.read_csv('../Данные/out_w_preproc.csv', index_col=0)

In [186]:
df.head()

,abiturient_id,spec_id,status,edu_form,fin_type,sum_bal,rus,math,phis,ikt,obsh,ino,bio
1,202100004,30,1,1,1.0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0
2,202100004,31,0,1,1.0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0
3,202100004,12,0,1,1.0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0
4,202100004,11,0,1,1.0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0
5,202100004,22,0,1,1.0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0

In [187]:
df['spec_id'].unique()

array([30, 31, 12, 11, 22, 18, 20, 10,  3, 26, 32,  8, 27,  9,  6,  2, 35,
       36, 39, 21, 17,  1, 33, 16, 13,  5, 15, 19, 34, 37,  4, 38, 25, 24,
       23,  7, 62, 64], dtype=int64)

In [188]:
df = pd.get_dummies(df, columns=['spec_id', 'edu_form', 'fin_type'])

In [189]:
df.head()

,abiturient_id,status,sum_bal,rus,math,phis,ikt,obsh,ino,bio,...,spec_id_37,spec_id_38,spec_id_39,spec_id_62,spec_id_64,edu_form_1,edu_form_2,edu_form_3,fin_type_1.0,fin_type_2.0
1,202100004,1,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
2,202100004,0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
3,202100004,0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
4,202100004,0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
5,202100004,0,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0

In [190]:
y = df['status']
X = df.drop(['abiturient_id', 'status'], axis=1)

In [191]:
X

,sum_bal,rus,math,phis,ikt,obsh,ino,bio,spec_id_1,spec_id_2,...,spec_id_37,spec_id_38,spec_id_39,spec_id_62,spec_id_64,edu_form_1,edu_form_2,edu_form_3,fin_type_1.0,fin_type_2.0
1,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,211,82.0,68.0,61.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21435,225,80.0,72.0,0.0,73.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,1
21436,141,47.0,43.0,51.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,1
21437,184,69.0,68.0,47.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,1
21438,156,64.0,39.0,0.0,53.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,1
21439,220,78.0,72.0,0.0,70.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [192]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [193]:
scl = StandardScaler()

In [194]:
X.iloc[:, :7] = scl.fit_transform(X.iloc[:, :7])

In [195]:
X.join(y).to_csv('scaled_one_hot_out.csv')

In [196]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [197]:
y_train.value_counts(normalize=True), y_train.value_counts()

(0    0.929878
 1    0.070122
 Name: status, dtype: float64,
 0    13314
 1     1004
 Name: status, dtype: int64)

In [198]:
y_test.value_counts(normalize=True), y_test.value_counts()

(0    0.928683
 1    0.071317
 Name: status, dtype: float64,
 0    6550
 1     503
 Name: status, dtype: int64)

In [199]:
model = LogisticRegression(max_iter=1000, C=0.1)
model.fit(X_train, y_train)

LogisticRegression(C=0.1, max_iter=1000)

Обучающая выборка

In [200]:
accuracy_score(y_train, model.predict(X_train))

0.9297387903338455

In [201]:
precision_score(y_train, model.predict(X_train))

0.47368421052631576

In [202]:
recall_score(y_train, model.predict(X_train))

0.017928286852589643

Тестовая выборка

In [203]:
accuracy_score(y_test, model.predict(X_test))

0.9292499645540905

In [204]:
precision_score(y_test, model.predict(X_test))

0.5833333333333334

In [205]:
recall_score(y_test, model.predict(X_test))

0.027833001988071572